*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 270px;
  gap: 30px;
  margin-right: 75px;
}

.search-form {
  display: flex;
  width: 711px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.content__list {
  max-height: 300px;
  overflow: auto;
  position: relative;
}

.content__details {
  max-width: inherit;
  max-height: inherit;
}

.result__video-container {
  width: 711px;

  margin-top: 400px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: inherit;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 200px;
}

.content__video-card-description-container {
  width: inherit;
}

.search-form__fieldset-title {
  font-size: 20px;
  font-weight: 300;
}

.title {
  font-size: 75px;
  font-family: "Oswald";
  line-height: 72.5px;
  text-transform: uppercase;
}

.content__accent {
  color: gray;
}

.content__card-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  display: block;
}

.content__video-card-title {
  font-family: "Oswald";
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border-width: 0px;
}

.search-form__label {
  width: fit-content;
}

.search-form__textfield {
  background-color: inherit;
  width: 180px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
}

.search-form__checkbox-list {
}

.search-form__label-text {
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-width: 2px;
  box-shadow: 0 0 0 1px white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: white;
  border: 1px solid black;
}

.search-form__pseudo-checkbox:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border-color: white;
  background-color: inherit;
  color: white;
  font-family: "Oswald";
  font-size: 14px;
  cursor: pointer;
}

button:active {
  background-color: grey;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-width: 1px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.more-button {
  padding-left: 150px;
  padding-right: 150px;
  border-width: 1px;
  padding-top: 3px;
  padding-bottom: 5px;
  white-space: nowrap;
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.content__card-link:active {
  background-color: gray;
}

.button:focus {
  outline-color: transparent;
}
